@import "tailwindcss";

/* Plugins */
@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';

/* Class based dark mode */
@variant dark (&:where(.dark, .dark *));
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
} 